@model IEnumerable<Final_Project.Models.Course>

@{
    ViewData["Title"] = "Get All For Applicant";
}

<h1>GetAllForAdmin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
        @foreach (var item in Model)
        {
            <div class="row">
            <div class="card col-md-4" style="width: 18rem;">
            @*<div class="col-md-4">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(item.Image))" />
             </div>*@
                <div class="card-body">
                    <h5 class="card-title">@item.CourseName</h5>
                    <p class="card-text">@item.CourseDescription</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@item.Category</li>
                    <li class="list-group-item">@item.Content</li>
                    <li class="list-group-item">@item.Price</li>
                </ul>
                <div class="card-body">
                        <a asp-action="adding" asp-route-id="@item.CourseId">Apply</a>
                </div>
            </div>
            </div>
            }
          @*  <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td class="w-25 p-3" style="width:10%;height:10%">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(item.Image))" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="adding" asp-route-id="@item.CourseId">Apply</a> 
                </td>
            </tr>
        }
    </tbody>
</table>*@

<div class="text-center">
    <div id="paypal-button-container"></div>
</div>

@section Scripts {
    @*Use ViewBag.ClientId to load Paypal Javascript SDK*@
    <script src="https://www.paypal.com/sdk/js?client-id=AciJN35r05hG5oaPQI19GqPlh4fHd3OX3LPbLjvu8J1n87KDMf21_wp-V_okmA_jSNOJql91U_H06wxD"></script>

    <script>
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'silver',
                tagline: 'false'
            },
            createOrder: (data, actions) => {
                return fetch("@Url.Action("Order")", {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    return response.json();
                }).then((order) => order.id)
                    .catch(error => alert(error.message));
            },
            onApprove: (data, actions) => {
                return fetch(`@Url.Action("Capture")?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    window.location.href = "@Url.Action("Success")";
                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');
    </script>
}
