@model IEnumerable<Final_Project.Models.Applicant_Job>

@{
    ViewData["Title"] = "Appliers";
}
<style>
    .table-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin:25px;
    }

    .card-table {
        border-collapse: collapse;
        width: 100%;
    }

        .card-table th,
        .card-table td {
            border: 1px solid #ccc;
            padding: 10px;
        }

    .card-title {
        text-align: center;
        margin-top: 10px;
    }

    .card-image img {
         max-width: 100px;
        max-height: 100px;
        border-radius: 5px;
    }

    .card-actions {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

        .card-actions a {
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #333;
        }
</style>
<header class="hero">

    <div>
        <h1 style="text-align:center" class="hero-headline">First Step Depends On You </h1>
        <h2 style="justify-content:center">Lest`s start to change world not us only</h2>
        <br />
        <form asp-action="Filterbyjobtilte" asp-controller="Company">
            <input name="word" type="text" class="email_bt" placeholder="Search...">
            <button type="submit" class="subscribe_bt">Search by applicant title</button>
        </form>
        
        <form asp-action="Filterbyapplicanttilte" asp-controller="Company">
            <input name="word" type="text" class="email_bt" placeholder="Search...">
            <button type="submit" class="subscribe_bt">Search by applicant title</button>
        </form>
    </div>

</header>
<br /><br />
<div class="table-container">
    @foreach (var group in Model.GroupBy(item => item.JobId))
    {
        var job = group.FirstOrDefault()?.Job;
        if (job != null)
        {
            <table class="card-table table-hover ">
                <tr>
                    <th colspan="5" class="card-title">@job.Jop_Title</th>
                </tr>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>CV</th>
                    <th>Actions</th>
                </tr>
                @foreach (var applicantJob in group)
                {
                    <tr>
                        <td class="card-image">
                            <img src="@Url.Content("~/Server/Pics/"+applicantJob.Applicant.Picture)" alt="@applicantJob.Applicant.ApplicantName">
                        </td>
                        <td>@applicantJob.Applicant.ApplicantName</td>
                        <td>@applicantJob.Applicant.Title</td>
                        <td> <a href="~/Server/CVs/@applicantJob.Applicant.CV" download="">CV <i class="fa fa-download" aria-hidden="true"></i></a></td>
                        <td>
                            <div class="card-actions">
                                <a class="btn btn-info" href="mailto:@applicantJob.Applicant.EmailAddress">Mail</a>
                                <a class="btn btn-success" href="@Url.Action("accepting", new { id = applicantJob.Applicant.ApplicantId })">Accept</a>
                                <a class="btn btn-danger" href="@Url.Action("rejecting", new { id = applicantJob.Applicant.ApplicantId })">Reject</a>
                                <a style="float:right" class="btn btn-danger" href="@Url.Action("CreateMeeting","Zoom")">Create Meeting</a>

                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
    }
</div>


