@model IEnumerable<Final_Project.Models.Applicant_Job>

@{
    ViewData["Title"] = "Appliers";
}

<h1>Appliers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var group in Model.GroupBy(item => item.JobId))
{
    var job = group.FirstOrDefault()?.Job;
    if (job != null)
    {
        <h3 style="text-align:center">@job.Jop_Title</h3>

        <table class="table table-info table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Applicant.ApplicantName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Applicant.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Job.Jop_Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Applicant.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Applicant.Age)
                    </th>
                    <th>
                       @Html.DisplayNameFor(model => model.Applicant.CV)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicantJob in group)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => applicantJob.Applicant.ApplicantName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => applicantJob.Applicant.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => applicantJob.Job.Jop_Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => applicantJob.Applicant.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => applicantJob.Applicant.Age)
                        </td>
                        <td class="w-25 p-3" style="width:10%;height:10%">
                            <img src="data:image/*;base64,@(Convert.ToBase64String(applicantJob.Applicant.CV))"   />
                        </td>
                        <td>
                            <a href="mailto:@applicantJob.Applicant.EmailAddress">Mail</a> |
                            <a asp-action="Waiting" asp-route-id="@applicantJob.Id">Accept</a> |
                            <a asp-action="Waiting" asp-route-id="@applicantJob.Id">Reject</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}



