@model IEnumerable<Final_Project.Models.Applicant_Job>

@{
    ViewData["Title"] = "Appliers";
}

<h1>Appliers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Applicant.ApplicantName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Applicant.Picture)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Applicant.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Jop_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant.Age)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Applicant.CV)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item2 in ViewBag.bola)
        {
            <h2>@item2</h2>
            @foreach (var item in Model)
            {
                if (item.Job.Jop_Title == item2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Applicant.ApplicantName)
                        </td>
                        @*<td>
                    @Html.DisplayFor(modelItem => item.Applicant.Picture)
            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Applicant.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.Jop_Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Applicant.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Applicant.Age)
                        </td>
                        @*<td>
                    @Html.DisplayFor(modelItem => item.Applicant.CV)
            </td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ApplicantId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ApplicantId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ApplicantId">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
