@model IEnumerable<Final_Project.Models.Job>

@{
    ViewData["Title"] = "myjobs";
}
<h1 class="ml-5 pl-5">myjobs</h1>

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
    }

    .card {
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 18px;
        margin-top: 0;
    }

    .card-text {
        margin-bottom: 0;
    }

    .card-actions a {
        margin-right: 10px;
    }
</style>
<div class="card-container ml-4">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job Title:  @item.Jop_Title</h5>
                <p class="card-text">Job Discription: @item.Jop_Description</p>
                <p class="card-text">Job Requrement: @item.Jop_Requrement</p>
                <p class="card-text">DeadLine:  Deadline: @item.DeadLine</p>
                <div class="card-actions">
                    <a href="@Url.Action("EditPost", new { id = item.JobId })">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.JobId })">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.JobId })">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
<p>
    <a asp-action="Post" asp-controller="Company" class="btn btn-primary">Create New</a>
</p>
