@model IEnumerable<Final_Project.Models.Job>

@{
    ViewData["Title"] = "myjobs";
}

<h1>myjobs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jop_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jop_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jop_Requrement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jop_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jop_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jop_Requrement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                <a asp-action="EditPost" asp-route-id="@item.JobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
