@model IEnumerable<Final_Project.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jop_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jop_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jop_Requrement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jop_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jop_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jop_Requrement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
                @if (User.IsInRole("applicant"))
                {
                    <td>
                    <form asp-controller="Applicant" asp-action="Apply" asp-route-id="@item.JobId">
                        <button class="btn btn-outline-primary my-2 my-sm-0">
                            <i class="bi bi-box-arrow-in-right"></i> Apply
                        </button>
                        </form>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
