@model IEnumerable<Final_Project.Models.Job>

@{
    ViewData["Title"] = "Jobs";
}
<style>
.card-container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card-actions {
  text-align: center;
}

@@media (max-width: 768px) {
  .card-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-container .col-md-4 {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
  }
}
    /*##############*/
    .hero {
        background: linear-gradient(#0006, #0006), url(https://source.unsplash.com/2600x1200?city);
        /*   background-image: url(https://source.unsplash.com/2600x1200?city); */
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        /*   background-color: #eee; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-inner {
        /*   text-align: center; */
        padding: 0 1.5rem;
    }

    .hero-headline {
        margin: 0;
        color: #fff;
        font-weight: 400;
    }

    h2 {
        margin: 0;
        color: #fff;
        font-weight: 400;
        font-size: 1.2rem;
    }

</style>
<header class="hero">


    <div class="hero-inner">

        <h1 class="hero-headline">First Step Depends On You </h1>
        <h2>Lest`s start to change world not us only</h2>

    </div>

</header>
<div class="row mt-4">
    <div class="col-md-4 ml-5">
        <form asp-action="search" asp-controller="Home">
            <input name="word" type="text" class="email_bt" placeholder="Search Job">
            <button type="submit" class="subscribe_bt">Search</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4"></div>

</div>
<div class="card-container ml-5 mr-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4" >
                <div class="card bg-light" style="width:100%;height:100%">
                    <div class="card-body">
                        <div style="width:100%;height:90%">
                        <h5 class="card-title"><span class="font-weight-bold">Job Title:</span> @item.Jop_Title</h5>
                        <p class="card-text" ><h4 class="font-weight-bold">Job Description:</h4> @item.Jop_Description</p>
                        <p class="card-text"><h4 class="font-weight-bold">Job Requirement:</h4> @item.Jop_Requrement</p>
                        <p class="card-text"><h4 class="font-weight-bold">Deadline:</h4> @item.DeadLine</p>
                        </div>
                        <div class="card-actions">
                            <form asp-action="Apply" asp-controller="Applicant" asp-route-id="@item.JobId">
                                <button type="submit" class="btn btn-success">Apply</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@item.Jop_Title</h5>
                <p class="card-text">@item.Jop_Description</p>
                <p class="card-text">@item.Jop_Requrement</p>
                <p class="card-text">Deadline: @item.DeadLine</p>
                <p class="card-text">Company: @item.Company.ConfirmPassword</p>
                <div class="card-actions">
                    <form asp-action="Apply" asp-controller="Applicant" asp-route-id="@item.JobId">
                        <button type="submit">Edit</button>
                    </form>
                   
                    <a href="@Url.Action("Details", new { id = item.JobId })">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.JobId })">Delete</a>
                </div>
            </div>
        </div>
    }
</div>*@
