@model IEnumerable<Final_Project.Models.Job>

@{
    ViewData["Title"] = "Jobs";
}
<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
        width: 90%;
        height: 30%;
    }

    .card {
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

    .card-body {
        padding: 10px;
        margin: 10px;
    }

    .card-title {
        font-size: 18px;
        margin-top: 0;
    }

    .card-text {
        margin-bottom: 0;
    }

    .card-actions a {
        margin-right: 10px;
    }
    /*##############*/
    .hero {
        background: linear-gradient(#0006, #0006), url(https://source.unsplash.com/2600x1200?city);
        /*   background-image: url(https://source.unsplash.com/2600x1200?city); */
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        /*   background-color: #eee; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-inner {
        /*   text-align: center; */
        padding: 0 1.5rem;
    }

    .hero-headline {
        margin: 0;
        color: #fff;
        font-weight: 400;
    }

    h2 {
        margin: 0;
        color: #fff;
        font-weight: 400;
        font-size: 1.2rem;
    }

</style>
<!-- <header class="hero"></header> -->
<header class="hero">

   @* <div class="box_main">
        
    </div>*@

    <div>
        <h1 style="text-align:center" class="hero-headline">First Step Depends On You </h1>
        <h2 style="justify-content:center">Lest`s start to change world not us only</h2>
        <br />
        <form asp-action="search" asp-controller="Home">
            <input name="word" type="text" class="email_bt" placeholder="Search Job" name="">
            <button type="submit" class="subscribe_bt">Search</button>
        </form>
    </div>

</header>
<div style="justify-content:center" class="row">
    <div class="col-md-2 ml-5 mt-2"></div>
    <div class="card-container col-md-8">
        @foreach (var item in Model)
        {
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title"><span class="font-weight-bold"> Job Title: </span>@item.Jop_Title  </h5>
                    <p class="card-text"><h4 class="font-weight-bold">Job Discription:</h4> @item.Jop_Description</p>
                    <p class="card-text"><h4 class="font-weight-bold">Job Requrement:</h4> @item.Jop_Requrement</p>
                    <p class="card-text"><h4 class="font-weight-bold">DeadLine:</h4> @item.DeadLine</p>
                    <div class="card-actions ">
                        <form asp-action="Apply" asp-controller="Applicant" asp-route-id="@item.JobId">
                            <button type="submit" class="btn btn-success">Apply</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-2"></div>

</div>

@*<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@item.Jop_Title</h5>
                <p class="card-text">@item.Jop_Description</p>
                <p class="card-text">@item.Jop_Requrement</p>
                <p class="card-text">Deadline: @item.DeadLine</p>
                <p class="card-text">Company: @item.Company.ConfirmPassword</p>
                <div class="card-actions">
                    <form asp-action="Apply" asp-controller="Applicant" asp-route-id="@item.JobId">
                        <button type="submit">Edit</button>
                    </form>
                   
                    <a href="@Url.Action("Details", new { id = item.JobId })">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.JobId })">Delete</a>
                </div>
            </div>
        </div>
    }
</div>*@
